<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.earthgee.corelibrary">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>

    <application android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <activity android:name=".A$1" android:launchMode="standard"></activity>
        <activity android:name=".A$2" android:launchMode="standard" android:theme="@android:style/Theme.Translucent"></activity>

        <activity android:name=".B$1" android:launchMode="singleTop"></activity>
        <activity android:name=".B$2" android:launchMode="singleTop"></activity>
        <activity android:name=".B$3" android:launchMode="singleTop"></activity>
        <activity android:name=".B$4" android:launchMode="singleTop"></activity>
        <activity android:name=".B$5" android:launchMode="singleTop"></activity>
        <activity android:name=".B$6" android:launchMode="singleTop"></activity>
        <activity android:name=".B$7" android:launchMode="singleTop"></activity>
        <activity android:name=".B$8" android:launchMode="singleTop"></activity>

        <activity android:name=".C$1" android:launchMode="singleTask"></activity>
        <activity android:name=".C$2" android:launchMode="singleTask"></activity>
        <activity android:name=".C$3" android:launchMode="singleTask"></activity>
        <activity android:name=".C$4" android:launchMode="singleTask"></activity>
        <activity android:name=".C$5" android:launchMode="singleTask"></activity>
        <activity android:name=".C$6" android:launchMode="singleTask"></activity>
        <activity android:name=".C$7" android:launchMode="singleTask"></activity>
        <activity android:name=".C$8" android:launchMode="singleTask"></activity>

        <activity android:name=".D$1" android:launchMode="singleInstance"></activity>
        <activity android:name=".D$2" android:launchMode="singleInstance"></activity>
        <activity android:name=".D$3" android:launchMode="singleInstance"></activity>
        <activity android:name=".D$4" android:launchMode="singleInstance"></activity>
        <activity android:name=".D$5" android:launchMode="singleInstance"></activity>
        <activity android:name=".D$6" android:launchMode="singleInstance"></activity>
        <activity android:name=".D$7" android:launchMode="singleInstance"></activity>
        <activity android:name=".D$8" android:launchMode="singleInstance"></activity>

        <service android:name=".delegate.LocalService"></service>

        <service android:name=".delegate.RemoteService" android:process=":daemon">
            <intent-filter>
                <action android:name="${applicationId}.intent.ACTION_DAEMON_SERVICE"></action>
            </intent-filter>
        </service>

    </application>

</manifest>















