<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.earthgee.plugin">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="com.earthgee.plugin.PluginApplication">
        <activity android:name=".PluginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>
        <service android:name=".PluginService"></service>
        <receiver android:name=".PluginReceiver">
            <intent-filter>
                <action android:name="com.earthgee.pluginreceiver"></action>
            </intent-filter>
        </receiver>
    </application>

</manifest>
